[user]
	name = hewigovens
	email = 360470+hewigovens@users.noreply.github.com
	signingKey = 2ACDE05EC307A30D576048D4C3BFC7A22B64354B
[push]
	default = simple
[color]
	ui = true
[core]
    editor = vim
    ignorecase = false
	excludesfile = /Users/hewig/.gitignore
[commit]
	gpgsign = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait $MERGED"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
