[user]
	name = hewigovens
	email = 360470+hewigovens@users.noreply.github.com
	signingKey = 46C888773BCBB144D6DC5C49BBF8D5A526CF39B6
[push]
	default = simple
[color]
	ui = true
[core]
    editor = vim
    ignorecase = false
	excludesfile = /Users/hewig/.gitignore
[commit]
	gpgsign = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait $MERGED"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
